h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 36px;
  margin-bottom: 1px;
}
a {
  margin-top: 1px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  font-style: italic;
}
.header {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #252525;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 409px;
  margin: auto;
  background-color: rgb(20, 19, 19);
  padding-left: 52px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
}
input,
textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {
  width: 84%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="text"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 33%;
  width: 100px;
}
button:hover {
  background-color: #0056b3;
}
textarea {
  height: 100px;
  resize: vertical;
}
