body {
  background-color: rgb(41, 23, 23);
  font-family: Cambria, Cochin, Georgia, Times;
  color: beige;
  font-size: 16px;
}

.new-user {
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  background: rgb(235, 235, 153);
  border: none;
  border-radius: 5px;
  margin: auto;
  color: black;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  margin: auto;
}
.new-user:hover {
  background: rgb(228, 228, 131);
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: auto;
  /* font-weight: bold; */
  font-size: 40px;
  padding: 15px;
  font-family: "Arial Narrow Bold", sans-serif;
  background-color: rgb(72, 30, 30);
  color: beige;
}

p {
  text-align: center;
}

div {
  margin: 25px;
}
table {
  /* padding-top: 25px; */
  padding: 20px;
  margin: auto;
  border-collapse: separate;
  border-radius: 6px;
  border-color: beige;
  border-inline-width: 5px;
  padding: 3px;
}
th {
  font-size: 20px;
  padding: 6px;
  color: rgb(255, 255, 255);
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
}
.values {
  padding: 10px;
}
