h1 {
  font-weight: bolder;
  padding: 15px;
  text-align: center;
  background-color: #191919;
  color: rgb(244, 240, 240);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  font-size: 38px;
}

a {
  text-decoration: none;
  color: #00d575;
}

table {
  background-color: rgb(31, 30, 30);
  color: whitesmoke;
  padding: 10px;
  width: 90%;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  border-radius: 10px;
}
.name,
.email,
.course {
  text-align: left;
}
.tdata {
  text-align: center;
}
td {
  height: 2em;
  padding: 10px 8px;
}
th {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 2em;
  padding: 10px 8px;
  /* border-radius: 8px; */
}

button {
  width: 10rem;
  height: 4rcap;
  background-color: #58b056;
  border: 0cap;
  border-radius: 8px;
  color: whitesmoke;
  font-weight: bold;
  margin: 20px auto;
  display: block;
}
button:hover {
  background-color: #40a63d;
  cursor: pointer;
}
a:hover {
  color: #75ffc1;
}
